@{
    ViewData["Title"] = "Notes";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WebNotes.Entity.Note>

<h1 align="center">@ViewData["Title"]</h1>


<body>

<form method="post" asp-controller="Note" asp-action="AddNote">
    <div>
        <a>Name of note</a>
        <input maxlength="100" name="Name" type="text">
        <button type="submit">Add note</button>
    </div>
</form>
<section class="text">
        @{
            if (Model != null)
            {
                foreach (var note in Model)
                {
                    <a asp-route-id="@note.Id" asp-controller="Note" asp-action="GetNote">@note.Name</a>
                }
            }
        }
    </section>
</body>