@{
    ViewData["Title"] = "Notes";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WebNotes.Entity.Note>

<h1 align="center">@ViewData["Title"]</h1>


<body>
<div align="center">
    <form method="post" asp-controller="Note" asp-action="AddNote">
        <div>
            <a>Name of note</a>
            <input maxlength="100" name="Name" type="text">
            <button type="submit">Add note</button>
        </div>
    </form>
    <section>
        @{
            if (Model != null)
            {
                var i = 1;
                foreach (var note in Model)
                {
                    var i1 = i;
                    <a class="nav-link text-dark" asp-route-id="@note.Id" asp-controller="Note" asp-action="GetNote">@i1) @note.Name</a>
                    <p></p>
                    i++;
                }
            }
        }
    </section>
</div>
</body>