@{
    ViewData["Title"] = "Notes";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WebNotes.Entity.Note>

<h1 align="center">@ViewData["Title"]</h1>


<body>
<form method="post" asp-controller="Home" asp-action="AddNote">

    
    <div>
        <a>Name of note</a>
        <input maxlength="100" name="Name" type="text">
        <button type="submit">Add note</button>

    </div>
</form>
<section class="text">
        @{
            if (Model != null)
            {
                foreach (var note in Model)
                {
                    <a href="\Home\NoteData\@note.Id">@note.Name</a>
                }
            }
        }
    </section>
</body>